// .fusionforms {}

.ff-webform {
	&.align--center { margin: 0 auto; }
	&.align--left { float: left; }
	&.align--right { float: right; }

	div { position: relative; }

	select,
	textarea,
	input[type="text"] {
		margin-bottom: 10px;
		width: 100%;
	}

	// &.label--above {}

	&.label--left {
		label,
		select,
		textarea,
		input {
			display: inline-block;
			width: 60%;
		}

		label {
			vertical-align: top;
			width: 40%;
		}
	}

	.infusion-radio {
		span {
			display: block;
		}
	}
}

.ff-clear {
	clear: both;
	display: block;
}