.ff-webform.align--center {
  margin: 0 auto;
}
.ff-webform.align--left {
  float: left;
}
.ff-webform.align--right {
  float: right;
}
.ff-webform.label--above table td {
  display: block;
}
.ff-webform.label--above .infusion-field-input-container {
  min-width: 100%;
}
.ff-webform.label--left .infusion-field-label-container {
  width: 40%;
}
.ff-webform select,
.ff-webform textarea,
.ff-webform input[type="text"] {
  width: 100%;
}
.ff-webform .text,
.ff-webform .infusion-field-input-container {
  padding-bottom: 10px;
  max-width: 100%;
}
.ff-webform .infusion-radio span {
  display: block;
}
.ff-webform table, .ff-webform th, .ff-webform td {
  border: none;
  padding: 0;
  margin: 0;
}

.ff-clear {
  clear: both;
  display: block;
}
