.ff-webform.align--center {
  margin: 0 auto;
}
.ff-webform.align--left {
  float: left;
}
.ff-webform.align--right {
  float: right;
}
.ff-webform div {
  position: relative;
}
.ff-webform select,
.ff-webform textarea,
.ff-webform input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
}
.ff-webform.label--left label,
.ff-webform.label--left select,
.ff-webform.label--left textarea,
.ff-webform.label--left input {
  display: inline-block;
  width: 60%;
}
.ff-webform.label--left label {
  vertical-align: top;
  width: 40%;
}
.ff-webform .infusion-radio span {
  display: block;
}

.ff-clear {
  clear: both;
  display: block;
}
